/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  color: #404040;
  background-color: #ffffff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  border: transparent;
  cursor: pointer;
  color: #ff553e;
  background-color: transparent;
}

.header {
  background-color: #fff8f2;
}
.header__link {
  transform: scaleX(1);
  transition: transform 250ms linear;
}
.header__link:hover, .header__link:focus {
  transform: scale(1.05);
}
.header__img {
  width: 179px;
  height: 40px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}
.header-list__item:not(:last-child) {
  margin-right: 48px;
}
.header-list__link {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  display: block;
  transform: scale(1);
  transition: transform 250ms linear;
  color: #1c0e0d;
}
.header-list__link:hover, .header-list__link:focus {
  transform: scale(1.05);
}
.header-list__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms linear;
  background-color: #ff553e;
}
.header-list__link:hover::after, .header-list__link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-list-btn {
  display: flex;
}
.header-list-btn__item:not(:last-child) {
  margin-right: 6px;
}
.header-list-btn__btn {
  padding: 16px 32px;
  border-radius: 34px;
  transform: scale(1);
  transition: all 250ms linear;
}
.header-list-btn__btn:hover, .header-list-btn__btn:focus {
  transform: scale(1.05);
  color: #ffffff;
  background-color: #ff553e;
}

.hero {
  padding-top: 220px;
  padding-bottom: 182px;
  background-color: #fff8f2;
  overflow: hidden;
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.41;
  margin-bottom: 24px;
  color: #1c0e0d;
}
.hero__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  opacity: 0.8;
  width: 595px;
  margin: 0 auto;
  margin-bottom: 68px;
  color: #40201e;
}
.hero__btn {
  padding: 24px 40px;
  border-radius: 40px;
  transform: scale(1);
  transition: transform 250ms linear, color 250ms linear, background-color 250ms linear;
}
.hero__btn:hover, .hero__btn:focus {
  transform: scale(1.05);
  color: #ffffff;
  background-color: #ff553e;
}

.hero-position {
  position: relative;
  z-index: 1;
}

.hero-content {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.hero-content__clock {
  position: absolute;
  top: -82px;
  left: -25px;
  width: 135px;
  height: 157px;
}
.hero-content__fon-line {
  position: absolute;
  top: -218px;
  left: -149px;
  width: 1660px;
  height: 749px;
  z-index: -1;
}
.hero-content__mobile-black {
  position: absolute;
  top: 54px;
  left: -270px;
  width: 338px;
}
.hero-content__notebook {
  position: absolute;
  bottom: -14px;
  right: 108px;
  width: 178px;
}
.hero-content__mobile-right {
  position: absolute;
  bottom: -310px;
  right: -340px;
  width: 460px;
}/*# sourceMappingURL=main.css.map */