.analytics {
  padding-top: 185px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 100px;
  }

  @include mobile {
    padding-top: 60px;
  }
}

.analytics-position {
  position: relative;
}

.analytics-content {
  display: flex;
  align-items: center;
}

.analytics-leftblock {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 500ms linear, opacity 500ms linear;
  &__img {
    width: 941px;
    // margin-left: -400px;

    margin-right: 34px;
    margin-left: -600px;
    margin-top: -37px;

    @include tablet {
      margin-top: 0;
      margin-right: -100px;
    }

    @include mobile {
      display: none;
    }
  }
}

.analytics-rightblock {
  width: 568px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.42;
    margin-bottom: 20px;

    color: $second-text-light;

    background-image: url(../img/features-center-line.png);
    background-repeat: no-repeat;
    background-position: 253px 39px;

    opacity: 0;
    transform: translateY(-100%);
    transition: transform 500ms linear, opacity 500ms linear;

    @include tablet {
      max-width: 525px;
      background-position: 113px 39px;
    }

    @include mobile {
      background-position: 113px 39px;
    }
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.8;
    margin-bottom: 48px;

    opacity: 0;
    transform: translateY(-100%);
    transition: transform 500ms linear, opacity 500ms linear;

    @include tablet {
      max-width: 483px;
    }
  }
}

.analytics-rightblock-list {
  padding: 0;
  &__svg {
    width: 88px;
    margin-right: 24px;
  }
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 48px;
    }

    opacity: 0;
    transform: translateX(100%);
    transition: transform 500ms linear, opacity 500ms linear;

    &:nth-child(2) {
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.29;
    margin-bottom: 8px;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.8;
    width: 300px;
  }
}

.animation-left,
.animation-top,
.animation-right {
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateX(0);
}

.animation-top {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.animation-right {
  transform: translateX(0);
}
