.expertises {
  padding-top: 94px;
}

.expertises-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-right: 80px;
    }
  }

  &__span {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.33;

    color: $second-text-light;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    opacity: 0.6;
  }
}
