.expertises {
  padding-top: 94px;

  @include tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding-top: 80px;
  }
}

.expertises-content {
  //
  margin-right: 324px;

  @include tablet {
    margin-right: 0;
  }

  @include mobile {
    margin-right: 0;
  }
  //
}

.expertises-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    opacity: 0;
    transition: transform 250ms linear, opacity 250ms linear;
    transform: translateX(-100%);
    text-align: center;

    &:not(:last-child) {
      margin-right: 180px;

      @include tablet {
        margin-right: 90px;
      }

      @include mobile {
        margin-right: 60px;
      }
    }

    &:nth-child(2) {
      transition-delay: 0.3s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s;
    }
  }

  &__span {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.33;
    display: block;
    margin-bottom: 10px;

    color: $second-text-light;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    opacity: 0.6;
  }
}

.animation-left {
  opacity: 1;
  transition: transform 250ms linear, opacity 250ms linear;
  transform: translateX(0);
}
