.free {
  padding-top: 100px;
  overflow: hidden;

  background-color: $second-bgc;

  @include mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__img-right {
    position: absolute;
    top: 186px;
    right: -530px;
    width: 632px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(100%);

    @include mobile {
      top: 265px;
      right: -366px;
      z-index: -1;
    }

    @include tablet {
      display: none;
    }
  }
  &__img-left {
    position: absolute;
    top: -91px;
    left: -430px;
    width: 422px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(-100%);

    @include mobile {
      top: -200px;
      left: -180px;
      z-index: -1;
    }

    @include tablet {
      top: 100px;
      left: -143px;
      z-index: -1;
    }
  }
}

.free-position {
  position: relative;
  z-index: 1;
}

.free-content {
  display: flex;
  align-items: center;
}

.free-leftblock {
  width: 529px;
  margin-right: 110px;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 24px;

    color: $second-text-light;

    background-image: url(../img/free-shape.png);
    background-repeat: no-repeat;
    background-position: 240px 42px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    opacity: 0.8;
    margin-bottom: 48px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }
}

.free-leftblock-list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(100%);

    &:nth-child(2) {
      transition-delay: 0.3s;
    }
  }

  &__btn {
    padding: 24px 40px;
    border-radius: 40px;
    transform: scale(1);
    transition: transform 250ms linear;

    background-color: $accent;

    &--right {
      border: 1px solid #ff553e;

      background-color: transparent;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  &__img {
    width: 99px;
    height: 25px;

    &--right {
      width: 115px;
      height: 27px;
    }
  }
}

.free-rightblock {
  &__img {
    width: 405px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(100%);

    @include mobile {
      display: none;
    }
    @include tablet {
      margin-left: -50px;
    }
  }
}

// animation

.animation-left,
.animation-right,
.animation-down,
.animation-top {
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateX(0);
}

.animation-down,
.animation-top {
  transform: translateY(0);
}
