body {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;

  color: $main-text;
  background-color: $main-bgc;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
