.header {
  border-bottom: 1px solid #ececec;
  z-index: 2;
  padding-top: 30px;

  background-color: $second-bgc;

  @include tablet {
    padding-bottom: 30px;
  }

  &__link {
    transform: scaleX(1);
    transition: transform 250ms linear;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  &__img {
    width: 179px;
    height: 40px;
  }

  &__btn {
    transform: scale(1);
    transition: transform 250ms linear;

    &:hover,
    &:focus {
      transform: scale(1.1);

      .header__svg {
        fill: $accent;
      }
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }

    &.is-open {
      z-index: 3;
    }
  }

  &__cross {
    display: none;

    .header__btn.is-open & {
      display: block;
    }
  }

  .header__btn.is-open .header__burger {
    display: none;
  }

  &__svg {
    transition: fill 250ms linear;
    width: 80px;
    height: 80px;
    fill: $second-text;
  }

  //animation
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #fff8f2c2;
  }
}

.menu-box {
  @include mobile {
    display: none;
  }
  &.is-open {
    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 60px;

      background-color: #fff;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-content {
  display: flex;
  align-items: center;
  height: 80px;

  @include desktop {
    justify-content: space-between;
  }
  @include tablet {
    height: 100px;
    gap: 20px;
  }

  @include mobile {
    justify-content: space-between;
  }
}

.header-list {
  display: flex;

  @include desktop {
    margin-right: 100px;
  }

  @include mobile {
    flex-direction: column;
  }

  //
  &__item {
    &:not(:last-child) {
      margin-right: 48px;

      @include tablet {
        margin-right: 28px;
      }

      @include mobile {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }
  &__link {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    display: block;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 50px;
      display: inline-block;
    }

    transform: scale(1);
    transition: transform 250ms linear;

    color: $second-text;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;

      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 250ms linear;

      background-color: $accent;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.header-list-btn {
  display: flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    justify-content: space-evenly;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__btn {
    padding: 16px 32px;
    border-radius: 34px;
    transform: scale(1);
    transition: all 250ms linear;

    @include tablet {
      padding: 8px 16px;
    }

    @include mobile {
      padding: 24px 38px;
      font-size: 30px;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &--right {
      background-color: $accent;
      color: $white;
    }
  }
}
