.hero {
  // padding-top: 220px;
  padding-top: 240px;

  padding-bottom: 182px;
  background-color: $second-bgc;
  overflow: hidden;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  @include mobile {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.41;
    margin-bottom: 24px;

    color: $second-text;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    opacity: 0.8;
    max-width: 595px;
    margin: 0 auto;
    margin-bottom: 68px;

    color: $text-4020;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      max-width: 480px;
      margin-bottom: 30px;
    }
  }

  &__btn {
    padding: 24px 40px;
    border-radius: 40px;
    transform: scale(1);
    transition: transform 250ms linear, color 250ms linear, background-color 250ms linear;

    color: $white;
    background-color: $accent;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.hero-position {
  position: relative;
  z-index: 1;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  &__clock {
    position: absolute;
    // top: -82px;
    // left: -25px;
    top: -91px;
    left: -1px;
    width: 162px;

    @include tablet {
      top: 125px;
      left: 0;
      z-index: -1;
    }

    @include mobile {
      top: -72px;
      left: 0px;
      z-index: -1;
    }
  }

  &__fon-line {
    position: absolute;
    // top: -218px;
    // left: -149px;
    // width: 1660px;
    left: -126px;
    top: -220px;
    width: 1695px;

    //

    z-index: -1;

    @include tablet {
      left: 66px;
      top: -143px;
    }

    @include mobile {
      left: -117px;
    }
  }

  &__mobile-black {
    position: absolute;
    // top: 54px;
    // left: -270px;
    width: 503px;
    left: -348px;
    top: 59px;

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  &__notebook {
    position: absolute;
    // bottom: -14px;
    // right: 108px;
    right: 119px;
    bottom: -18px;
    width: 178px;

    @include tablet {
      right: 0;
      bottom: -72px;
      z-index: -1;
    }

    @include mobile {
      right: -67px;
      bottom: -50px;
      z-index: -1;
    }
  }

  &__mobile-right {
    position: absolute;
    // bottom: -310px;
    // right: -340px;

    bottom: -641px;
    right: -478px;
    width: 685px;

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
}
