.partners {
  padding-top: 164px;
  padding-bottom: 80px;

  background-color: $blue-light-second;
}

.partners-position {
  position: relative;
  z-index: 1;
}

.partners-content {
  display: flex;
  align-items: center;
}

.partners-leftblock {
  position: relative;
  width: 799px;
  height: 651px;
  margin-right: 100px;
  margin-left: -300px;

  &__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &--one {
      top: 0;
      left: 118px;
      border-radius: 40px;
      width: 240px;
      height: 152px;

      transform: scale(1);
      transition: transform 250ms linear;

      background-color: rgba(243, 83, 37, 0.1);

      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }

    &--two {
      top: 88px;
      right: 70px;
      border-radius: 48px;
      width: 315px;
      height: 204px;

      transform: scale(1);
      transition: transform 250ms linear;

      background-color: rgba(51, 214, 100, 0.1);

      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }
    &--three {
      top: 206px;
      left: 0;
      border-radius: 54px;
      width: 358px;
      height: 239px;

      transform: scale(1);
      transition: transform 250ms linear;

      background-color: rgba(255, 186, 0, 0.1);

      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }
    &--four {
      bottom: 57px;
      right: 0;
      border-radius: 54px;
      width: 385px;
      height: 243px;

      transform: scale(1);
      transition: transform 250ms linear;

      background-color: rgba(66, 133, 244, 0.1);

      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }
    &--five {
      bottom: 0;
      left: 118px;
      border-radius: 48px;
      width: 240px;
      height: 152px;

      transform: scale(1);
      transition: transform 250ms linear;

      background-color: rgba(28, 96, 191, 0.1);

      &:hover,
      &:focus {
        transform: scale(1.02);
      }
    }
  }

  &__img-one {
    width: 48px;
  }

  &__img-two {
    width: 72px;
  }
  &__img-three {
    width: 87px;
  }
  &__img-four {
    width: 114px;
  }
  &__img-five {
    width: 48px;
  }
}

.partners-rightblock {
  width: 525px;
  z-index: 1;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 24px;

    color: $second-text-light;

    background-image: url(/../img/price-line.png);
    background-repeat: no-repeat;
    background-position: 157px 35px;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.8;
    margin-bottom: 48px;
    width: 471px;
  }

  &__btn {
    border: 1px solid #ff553e;
    border-radius: 40px;
    padding: 24px 40px;
    transform: scale(1);
    transition: transform 250ms linear;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}
