.price {
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 20px;
    text-align: center;

    color: $second-text-light;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 54px;
  }

  &__img-left {
    position: absolute;
    bottom: 50px;
    left: -300px;
    width: 409px;
  }

  &__img-line {
    position: absolute;
    top: 35px;
    right: 250px;
    width: 176px;
    z-index: -1;
  }

  &__img-right {
    position: absolute;
    right: -50px;
    top: 190px;
    width: 223px;
    z-index: -1;
  }

  &__img-snake {
    position: absolute;
    top: 300px;
    right: -80px;
    width: 136px;
    z-index: -2;
  }
}

.price-position {
  position: relative;
}

.price-checkbox-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;

  &__span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__input {
    display: none;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 20px;

    background-color: rgba(255, 85, 62, 0.2);

    &::before {
      position: absolute;
      content: '';
      left: 6px;
      bottom: 6px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      transition: transform 250ms linear;

      background-color: $accent;
    }
  }

  &__input:checked + .price-checkbox-block__slider::before {
    transform: translateX(44px);
  }
}

.price-list {
  display: flex;
  justify-content: center;
  text-align: center;
  &__item {
    width: 470px;
    border: 1px solid #ff553e;
    border-radius: 110px;
    padding: 64px;

    transform: scale(1);
    transition: transform 250ms linear;
    &:not(:last-child) {
      margin-right: 30px;
    }

    &--second {
      background-color: $accent;
    }

    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }
  &__title {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 56px;

    &--second {
      color: $white;
    }
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.86;
    opacity: 0.8;

    color: $accent;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--second {
      color: $white;
      opacity: 1;
    }
  }

  &__up-span {
    opacity: 0.7;
  }

  &__span {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    margin-right: 8px;

    &--second {
      color: $white;
    }
  }

  &__under-span {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    opacity: 0.4;
    display: flex;
    align-self: flex-end;

    &--second {
      color: $white;
      opacity: 0.8;
    }
  }

  &__btn {
    border-radius: 40px;
    padding: 24px 40px;
    transform: scale(1);
    transition: transform 250ms linear;

    color: $white;
    background-color: $accent;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &--second {
      color: $accent;
      background-color: $main-bgc;
    }
  }
}

.price-block-text {
  margin-bottom: 64px;
}

.price-span-block {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
}
