.price {
  padding-top: 178px;
  padding-bottom: 120px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 20px;
    text-align: center;

    color: $second-text-light;

    background-image: url(../img/price-line.png);
    background-repeat: no-repeat;
    background-position: 744px 35px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);

    @include tablet {
      background-position: 528px 34px;
    }

    @include mobile {
      background-position: 211px 104px;
    }
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 46px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateY(-100%);
  }

  &__img-left {
    position: absolute;
    bottom: 3px;
    left: -542px;
    width: 409px;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(-100%);
  }

  &__img-right {
    position: absolute;
    right: -23px;
    top: 178px;
    width: 223px;
    z-index: -1;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(100%);
    @include tablet {
      right: 501px;
      top: -25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__img-snake {
    position: absolute;
    top: 289px;
    right: -57px;
    width: 136px;
    z-index: -2;

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: translateX(100%);

    @include tablet {
      display: none;
    }

    @include mobile {
      top: 0;
      right: 300px;
    }
  }
}

.price-position {
  position: relative;
}

.price-checkbox-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
  margin-right: 74px;

  opacity: 0;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateY(100%);

  @include tablet {
    margin-right: 0;
  }

  @include mobile {
    margin-right: 0;
  }

  &__span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__input {
    display: none;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 20px;

    background-color: rgba(255, 85, 62, 0.2);

    &::before {
      position: absolute;
      content: '';
      left: 6px;
      bottom: 6px;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      transition: transform 250ms linear;

      background-color: $accent;
    }
  }

  &__input:checked + .price-checkbox-block__slider::before {
    transform: translateX(44px);
  }
}

.price-list {
  display: flex;
  justify-content: center;
  text-align: center;

  @include mobile {
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    width: 470px;

    border: 1px solid #ff553e;
    border-radius: 110px;
    padding: 64px;

    @include tablet {
      padding: 64px 38px;
    }

    @include mobile {
      padding: 38px 38px;
    }

    transform: scale(1);
    transition: transform 250ms linear;
    &:not(:last-child) {
      margin-right: 30px;

      @include mobile {
        margin-right: 0;
      }
    }

    &--second {
      background-color: $accent;
    }

    &:hover,
    &:focus {
      transform: scale(1.02);
    }

    opacity: 0;
    transition: transform 500ms linear, opacity 500ms linear;
    transform: rotateY(90deg);

    &:nth-child(2) {
      transition-delay: 0.3s;
    }
  }
  &__title {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 56px;

    @include mobile {
      margin-bottom: 30px;
    }

    &--second {
      color: $white;
    }
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.86;
    opacity: 0.8;

    color: $accent;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--second {
      color: $white;
      opacity: 1;
    }
  }

  &__up-span {
    opacity: 0.7;
  }

  &__span {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    margin-right: 8px;

    &--second {
      color: $white;
    }
  }

  &__under-span {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    opacity: 0.4;
    display: flex;
    align-self: flex-end;

    &--second {
      color: $white;
      opacity: 0.8;
    }
  }

  &__btn {
    border-radius: 40px;
    padding: 24px 40px;
    transform: scale(1);
    transition: transform 250ms linear;

    color: $white;
    background-color: $accent;

    @include tablet {
      padding: 24px 30px;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &--second {
      color: $accent;
      background-color: $main-bgc;
    }
  }
}

.price-block-text {
  margin-bottom: 64px;
  @include mobile {
    margin-bottom: 30px;
  }
}

.price-span-block {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  @include mobile {
    margin-bottom: 30px;
  }
}

//animation

.animation-top,
.animation-bottom,
.animation-left,
.animation-right {
  opacity: 1;
  transition: transform 500ms linear, opacity 500ms linear;
  transform: translateY(0);
}

.animation-left {
  transform: translateX(0);
}
