.tracker {
  padding-top: 190px;
  padding-bottom: 120px;
  overflow: hidden;
  background-color: $blue-light;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 20px;

    color: $second-text-light;

    background-image: url(../img/tracker-line.png);
    background-repeat: no-repeat;
    background-position: 217px 35px;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.8;
    width: 699px;
    margin-bottom: 64px;

    @include mobile {
      max-width: 480px;
    }
  }

  &__img {
    position: absolute;
    top: 140px;
    right: -250px;
    width: 682px;
  }

  &__img-blue {
    position: absolute;
    top: 279px;
    right: 579px;
    width: 89px;
    height: 124px;

    @include tablet {
      right: 400px;
    }

    @include mobile {
      top: 200px;
      right: 293px;
    }
  }
  &__img-red {
    position: absolute;
    width: 89px;
    bottom: 103px;
    left: -54px;
    height: 124px;

    @include tablet {
      bottom: 145px;
      left: 179px;
    }

    @include mobile {
      bottom: 137px;
      left: 181px;
    }
  }

  &__img-left {
    position: absolute;
    top: 235px;
    left: -537px;
    width: 383px;
  }

  &__img-right {
    position: absolute;
    top: -186px;
    right: -561px;
    width: 438px;
  }

  &__img-one {
    position: absolute;
    top: 131px;
    right: 109px;
    width: 380px;
    z-index: -1;

    @include tablet {
      right: 0;
    }

    @include mobile {
      top: 170px;
      right: -50px;
    }
  }
  &__img-two {
    position: absolute;
    top: 219px;
    right: -298px;
    width: 490px;
    z-index: -1;
    @include tablet {
      top: 775px;
      right: 0;
    }

    @include mobile {
      top: 780px;
    }
  }
  &__img-three {
    position: absolute;
    top: 428px;
    right: 111px;
    width: 342px;
    z-index: -1;
    @include tablet {
      right: 40px;
    }

    @include mobile {
      top: 450px;
      right: -110px;
    }
  }
}

.tracker-position {
  position: relative;
  z-index: 1;
}

.tracker-list-left {
  padding: 0;
  &__item {
    display: flex;
    @include desktop {
      align-items: center;
    }

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 64px;
    }

    &--margin {
      margin-left: 160px;

      @include tablet {
        margin-left: 0;
      }
      @include mobile {
        margin-left: 0;
      }
    }
  }

  &__img {
    width: 116px;
    margin-right: 48px;
    @include tablet {
      margin-right: 0;
      margin-bottom: 20px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__content {
    width: 300px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.86;
    margin-bottom: 10px;
  }

  &__text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    opacity: 0.8;
  }
}
