$main-bgc: #ffffff;
$second-bgc: #fff8f2;
$blue-light: #f3fdfe;
$blue-light-second: #f8fefe;

$main-text: #404040;
$second-text-light: #18063c;
$second-text: #1c0e0d;
$white: #ffffff;
$text-4020: #40201e;
$text-3836: #38363c;

$accent: #ff553e;

$font-inter: 'Inter', sans-serif;
